<nav class="nav nav-pills">
  <div>
    <a class="navbar-toggler" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" style="font-size:30px;cursor:pointer"><b>Home -</b></a>

    <a routerLink="/movie" class="nav-link" routerLinkActive="active" style="font-size:30px;cursor:pointer">Movie -</a>


      
    <button 
      class="navbarToggler" 
      type="button"
      aria-controls="navbarToggler" 
      aria-expanded="false" 
      aria-label="toggle navigation"
      > button
    </button>
  </div>
</nav>