<p>movie works!</p>


<!-- <div *ngFor="let item of movies">
  <img src={{item.poster}} class="card-img-top">
  <p><h1>Movie name: {{item.name}}</h1>
    <span>Releasedate: {{item.releaseDate}}
      Lenght: {{item.lenght}}</span>
    <p>genres: <span *ngFor="let genre of item.genres">{{genre.name}},</span>
    <br>
   </p> -->
<!-- </div>  -->

<div class="row row-cols-1 row-cols-md-6 g-3">
  <div class="col-sm-3" *ngFor="let item of movies">
      <div class="card h-100 w-100">
        <img src={{item.poster}} class="card-img-top" (click)="clickpopup(item.id)">
          <div class="card-body">
              <div class="card-title">
                <h5>Movie name: {{item.name}}</h5>
                <h6>ReleaseDate: {{item.releaseDate}}</h6>
                <h6>Length: {{item.releaseDate}} Min.</h6>
              </div>
          </div>
      </div>
  </div>
</div>

<div class="overlaypopup" *ngIf="popup">
  <div class="popup">
    <h2 class="popupTitle">{{movieData.name}}</h2>
    <div class="gridWrapperPopup">
      <img class="popupImg" src={{movieData.poster}} />
      <div class="popupDesc">Udkom i år: {{movieData.releaseDate}}
        <br/> Filmen er {{movieData.length}} Minutter Lang.
        <button class="popupBut" >Køb Billet</button></div>

      <a class="close" (click)="popup = false">&times;</a>
    </div>
  </div>
</div>
